chat/__pycache__/admin.cpython-39.pyc
chat/__pycache__/apps.cpython-39.pyc
chat/__pycache__/models.cpython-39.pyc
login/__pycache__/__init__.cpython-39.pyc
login/__pycache__/admin.cpython-39.pyc
login/__pycache__/apps.cpython-39.pyc
login/__pycache__/models.cpython-39.pyc
Moshaver/__pycache__/settings.cpython-39.pyc

env
__pycache__